h1 {background-color: blue; color: white;}
p {background-color: aqua; color: brown; font-size: 160%; font-family: Verdana, Geneva, Tahoma, sans-serif;}
body{background-color: burlywood;}
.Welcome{background-color: chartreuse;}
#Second {background-color: coral;}
.divv{ background-color: darkgoldenrod;}